*{
    margin: 0;
}

a{
    text-decoration:none;
}

header{
    background-color: rgb(5, 5, 5);
    color: aliceblue;
    height: 5%;
}

.logo{
    display: inline-block;
    width: 50%;
}

.logo > img{
    margin-bottom: 0;
}

.logo > h1{
    font-size: 30px;
    margin-bottom: 0;
    width: 70%;
    height: 100%;
    display: inline-block;
    transform: translateY(40%); 
}

.buttons{
    position: absolute;
    right: 0;
    top: 5%;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: aliceblue;
}
