*{
    margin: 0;
}

a{
    text-decoration:none;
}

header{
    background-color: rgb(5, 5, 5);
    color: aliceblue;
    height: 5%;
}

.logo{
    display: inline-block;
    width: 50%;
}

.logo > img{
    margin-bottom: 0;
}

.logo > h1{
    font-size: 30px;
    margin-bottom: 0;
    width: 70%;
    height: 100%;
    display: inline-block;
    transform: translateY(40%); 
}

.buttons{
    position: absolute;
    right: 1rem;
    top: 5%;
}

footer{
    position: fixed;
    left:0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    text-align: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.popupDescription{
    position:absolute;
    height: 200px;
    width: 190px;
    color: red;
    font-weight: 500;
    visibility: hidden;
}

.contentCard:hover .popupDescription{
    visibility: visible;
}

.contentCard:hover .image-game{
    visibility: hidden;
}

