{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/cadastro.css' %}" rel="stylesheet">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" onload="true"></script>
    <title>Casa dos Jogos</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/Logo_casa_dos_jogos.png' %}" alt="Logo da casa dos jogos" width="80">
            </a>
        <h1>Casa dos Jogos</h1>
        
        </div>
        <div class="buttons">
            {% if user.is_authenticated %}
               <strong>{{user.get_username}}</strong>  &nbsp;&nbsp;
                <a href="{% url 'meus_jogos' %}" class="btn btn-primary">Meus jogos</a>
                <a href="{% url 'add_jogo' %}" class="btn btn-success">Add jogo</a>
                <a href="{% url 'sair' %}" class="btn btn-danger">Sair</a>
                

             {% else %}
            <button onclick="location.href='/entrar'"  type="button" class="btn btn-light">Entrar</button>
            <button onclick="location.href='/cadastro'" type="button" class="btn btn-light">Cadastrar</button>

            {% endif %}
        </div>
    </header>

    {% if messages %}
    {% for m in messages %}
    
    <div class="alert alert-danger alert-dimissible fade show" role="alert">
      {{m}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <img src="{% static 'img/Logo_casa_dos_jogos.png' %}" alt="Logo da casa dos jogos" width="40">
    </footer>
</body>
</html>