{% extends 'base.html' %}
{% block content %}

<br>
<div class="cadastro">
<h2 class="cadastro-title">Cadastro</h2>
<hr>
<form action="">
    <div class="mb-3">
      <label for="username" class="form-label">
        <strong>Username</strong>
      </label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="mb-3">
        <label for="inputEmail1" class="form-label">
          <strong>Email</strong>
        </label>
        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">
          <strong>Senha</strong>
        </label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="btn-cadastrar">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>

</form>
</div>

{% endblock %}